
  html{
    background: lemonchiffon
  }

h1 {
  background: rebeccapurple;
  color: red;
  text-align: center;
}

h2 {
  color: rebeccapurple;
  background: red;
}

li {
  padding: 5px;
  margin: 5px;
  background: turquoise;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
